Language: Cpp
BasedOnStyle: LLVM
Standard: c++20

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

BreakBeforeBraces: Attach
SpaceBeforeParens: ControlStatements

PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false

AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortEnumsOnASingleLine: false

SortIncludes: false
IncludeBlocks: Preserve
